/*CSS STYLESHEET*/
/* This CSS Stylesheet is structured by 
  SURFACE PLANE 
        TYPEFACES
        COLORS
        ROUNDED CORNERS
        HOVER INTERACTIONS
        ANIMATIONS
  SKELETON PLANE
        FONT SIZES
        DOCUMENT
        HTML CLASS SELECTORS
        VIEWPORT SWITCHES
        NAVBAR
        FOOTER
        CARD DECK
        TURN COUNT
        RESTART BUTTON
        WELL DONE (modal popup)
        HOW TO PLAY (modal popup)*/

/*-------------------SURFACE PLANE--------------------*/


/*---------------SURFACE PLANE - TYPEFACES------------*/

@font-face {
  font-family: 'glacialindifference';
  font-style: normal;
  font-weight: 400;
  src: local('Glacial Indifference'),
       url('https://fonts.cdnfonts.com/s/31913/GlacialIndifference-Regular.woff') format('woff');
  font-display: swap;

}

@font-face {
  font-family: 'PeaceSans';
  font-style: normal;
  font-weight: 400;
  src: local('Peace Sans'), url('https://fonts.cdnfonts.com/s/16323/peace_sans.woff') format('woff');
  font-display: swap;
}

/*These type selectors are all Peace Sans*/
h1, h2, label {
  font-family: 'PeaceSans', sans-serif;
}

/* These type selectors are all Glacial Indifference*/
p, h3, h4, h5, a,
form input{
  font-family: 'glacialindifference', sans-serif;
}

/* these type selectors are all Glacial Indifference, but with some small changes in style*/
h3 {font-weight: 700 !important; /*bolden text*/}
h4 {font-style:italic;/*italicize text*/}
h5 {font-size: 0.7rem;/*reduce font size*/}

/*---------------SURFACE PLANE - COLORS---------------*/
/*Root variables are used to define the color palette. The colors are used throughout the stylesheet. It's a useful function because it allows the color palette to be changed easily.*/

:root {
--brand-color: #ff8400; /* Brand color */
--background-color: #add8e6; /*background color*/

/*Harmonious palette*/
--harmonious-bold: #ff4500;
--harmonious-light: #fa8072;
--harmonious-lighter: #ffa07a;
--harmonious-lightest: #ffd000;

/*Neutral palette*/
--black-dark: #1e1e1e;
--black-medium: #313131;
--black-light: #434343;
--grey: #808080;
--lightgrey:#d3d3d3;
--white: #ffffff;
}

/*class selectors are used to apply the root colors (above) to the elements*/
.brand-color {color: var(--brand-color);}
.background-color {background-color: var(--background-color);}
.harmonious-bold {color: var(--harmonious-bold);}
.harmonious-light {color: var(--harmonious-light);}
.harmonious-lighter {color: var(--harmonious-lighter);}
.harmonious-lightest {color: var(--harmonious-lightest);}
.black-dark {color: var(--black-dark);}
.black-medium {color: var(--black-medium);}
.black-light {color: var(--black-light);}
.grey {color: var(--grey);}
.lightgrey {color: var(--lightgrey);}
.white {color: var(--white);}
.background-brand-color {background-color: var(--brand-color);}
.background-color {background-color: var(--background-color);}
.background-harmonious-bold {background-color: var(--harmonious-bold);}
.background-harmonious-light {background-color: var(--harmonious-light);}
.background-harmonious-lighter {background-color: var(--harmonious-lighter);}
.background-harmonious-lightest {background-color: var(--harmonious-lightest);}
.background-black-dark {background-color: var(--black-dark);}
.background-black-medium {background-color: var(--black-medium);}
.background-black-light {background-color: var(--black-light);}
.background-grey {background-color: var(--grey);}
.background-lightgrey {background-color: var(--lightgrey);}
.background-white {background-color: var(--white);}

/*---------------SURFACE PLANE - SHADOWS, ROUNDED CORNERS---------------*/

/*.shadow is used to create a shadow effect on the card deck*/
/*.rounded is used to create rounded corners on the card deck and button*/

/*---------------SURFACE PLANE - HOVER INTERACTIONS---------------*/

button[type="submit"]:hover {
  background-color: var(--salmon);
}

.button a:hover {
  background-color: var(--yellow);
  color: var(--black-medium);
  cursor: pointer;
}

.footer-links a:hover {
  background-color: var(--black-light);
}

/*---------------SURFACE PLANE - ANIMATIONS---------------*/
.button a, #myBtn, .menu-items a, button[type="submit"], header, a {
  transition: 0.5s; 
}

main {
  transition: margin-top 0.45s ease-in-out;
  max-width: 100%;
}

#card-deck {
  perspective: 1000px; /*this is used to create the 3D effect on the card deck*/
}

.card-item-container {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s; 
}

.card-item-container:active {/*selects front and back of cards when clicked*/
transform: scale(.90);
transition: transform .2s;
}

.card-item-container.flipped-over {
transform: rotateY(180deg);
}

.card-front {
transform: rotateY(180deg);
}





/*-------------------SKELETON PLANE--------------------*/

/*-------------------SKELETON PLANE - FONT SIZES-------------------*/
/* In this section I have used Fixed font sizes, Font sizes with Media Queries and Font sizes with Clamp. The selectors are grouped according to page.*/
/*TODO: use clamp to replace all font sizes*/

/* The clamp() CSS function clamps a value between an upper and lower bound. It takes three parameters: a minimum value, a preferred value, and a maximum allowed value. The clamp() function is supported in all major browsers, except Internet Explorer, which has now been replaced by Microsoft Edge. It is useful for responsivity because it allows the font size to be responsive to the viewport width.*/
h1 { font-size: clamp(1.8rem, 1.3893rem + 2.3467vw, 4rem);}
h2 { font-size: clamp(1.5rem, 1.5rem + 1.2vw, 2.5rem); }
p { font-size: clamp(1rem, 0.9253rem + 0.4267vw, 1.4rem);}

/*Fixed font sizes for Navbar*/

.navbar .icon, .navbar.menuOpen .icon { font-size: 2.8rem ; }
.menu-items a { font-size: 1.5em ; }

/*---------------SKELETON PLANE - DOCUMENT---------------*/
body {
    overflow-x: hidden; /*responsive design to prevent horizontal scrolling*/
    max-width: 100%;
    height: 100vh;
    display: flex;
  }

* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
}



section {
  max-width: 2000px; /*This rule is useful for responsivity because it prevents the section from expanding too much on giant viewports*/
  margin: auto;
}

h1,h2,h3,h4 {
  display: inline;
  font-weight: 300;
  text-align: center;
}

p {
  padding: 0em 2em;
  margin: auto;
}

.button {
  text-align: center;
}

.button a, #myBtn {
  display: inline;
  justify-content: center;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 12em;
  padding: 0.5em 1em;
}

/*--------------- SKELETON PLANE - HTML CLASS SELECTORS---------------*/
.display-grid {
  display:grid;
}

/*
.modal-popup /*this is the modal popup for Well Done and How to Play Feature*/

/*--------------- SKELETON PLANE - VIEWPORT SWITCHES---------------*/
/* For responsive design, some elements will disappear at certain viewport breakpoints and "switch" to another element. Note that CSS is mobile-first.*/
/*breakpoints: mininum | 768px | 1208px | 1728px | max */

@media screen and (max-width: 768px) {.hide-in-mobile { display: none !important;}}
@media screen and (min-width: 769px) {.hide-in-tablet-laptop-and-desktop{ display: none !important;}}
  
@media screen and (max-width: 1208px) {.hide-in-mobile-and-tablet {display: none !important;}}
@media screen and (min-width: 1209px) {
.hide-in-laptop-and-desktop {display: none !important;} }

@media screen and (max-width: 1727.99px) {.hide-in-mobile-and-tablet-and-laptop {display: none !important;}}
@media screen and (min-width: 1728px) {
.hide-in-desktop {display: none !important;}}

/*---------------SKELETON PLANE BY FEATURE---------------*/
/*The selectors are grouped according to feature. Elements of each feature are then grouped with media queries, starting mobile first.*/

/*---------------NAVBAR FEATURE SKELETON---------------
  Elements = navbartitle, hamburger icon*/

nav {
  position: fixed;
  width:100%;
  height: 57px;
  z-index: 3;
}

img.navbarlogo {
  margin: auto;
}

/*---------------FOOTER FEATURE SKELETON---------------
  ---------------Elements = footer-small-print, footer icons ---------------*/
.container-fixed-footer {
  position:relative;
  min-height: 100vh;
}

.body-content-wrap-for-fixed-footer {
  padding-bottom: 25rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  margin-top: 2em;
  min-height: 20rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.footer-small-print {
  text-align: center;
  margin: 4em auto 1em;
  justify-content: center; 
}

.footer-row1,
.footer-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-row2 {
margin-bottom: 40px;
}


.footer-links a { /*should be perfectly circular without distortion*/
  display: flex;
  border-radius: 1000px;
  padding: 10px;
  margin: 8px;
  width: auto;
  height: auto;
}

i.fa-brands {

font-size: 0.7em;

color: var(--white);

margin: auto auto auto auto;

z-index: 3;
}

.footer-links img {
  width: 25px;
  height: auto;
  filter:invert(100%);
}


@media screen and (min-width: 700px) {
  .footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-row1,
.footer-row2 {
  margin-bottom: 40px;}
}

/*---------------CARD DECK SKELETON---------------*/

#card-deck {/*should be perfectly square without distortion*/
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-item-container {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
}

.card-item { /*this selects both the front and back, puts the cards one over the other*/
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;

}


/*---------------TURN COUNT SKELETON---------------*/

/*---------------RESTART BUTTON SKELETON---------------*/

/*---------------WELL DONE FEATURE SKELETON---------------*/

/*---------------HOW TO PLAY SKELETON---------------*/